<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta Name="format-detection" content="telephone=no,date=no,address=no,email=no,url=no">
</head>

{{$activate_url := printf "%suser/activate_email?code=%s&email=%s" AppUrl (QueryEscape .Code) (QueryEscape .Email)}}
<body>
	<p>{{.locale.Tr "mail.hi_user_x" (.DisplayName|DotEscape)}}</p><br>
	<p>{{.locale.Tr "mail.activate_email.text" .ActiveCodeLives}}</p><p><a href="{{$activate_url}}">{{$activate_url}}</a></p><br>
	<p>{{.locale.Tr "mail.link_not_working_do_paste"}}</p>

	<p>Welcome to <a target="_blank" rel="noopener noreferrer" href="{{AppUrl}}">{{AppName}}</a></p>

	---
	<br/>

	Codeberg e.V. &ndash; Arminiusstraße 2-4 &ndash; 10551 Berlin &ndash; Germany<br/>
	Registered at registration court Amtsgericht Charlottenburg VR36929.
</body>
</html>
