:root {
    --gitea-color-scheme-1: #2185d0;
    --gitea-text-color: #FFF;
    /* disabled again due to various bugs like no italics
     * --fonts-override: "Inter";*/
}

#navbar .ui.red.label, #navbar .ui.red.labels .label { box-shadow: 0 0 1px 1px #c82121; }

* {
	scrollbar-width: initial;
	scrollbar-color: initial;
}

html[data-theme^="forgejo-light"] #navbar-logo > img, html[data-theme^="gitea-light"] #navbar-logo > img, html[data-theme^="forgejo-light"] footer .branding img, html[data-theme^="gitea-light"] footer .branding img {
	content: url('https://design.codeberg.org/logo-kit/icon.svg');
}
@media (prefers-color-scheme: light) {
	html[data-theme^="forgejo-auto"] #navbar-logo > img, html[data-theme^="gitea-auto"] #navbar-logo > img, html[data-theme^="forgejo-auto"] footer .branding img, html[data-theme^="gitea-auto"] footer .branding img {
		content: url('https://design.codeberg.org/logo-kit/icon.svg');
	}
}

@property --donation-pretty-gradient-color-1 {
  syntax: '<color>';
  initial-value: #000;
  inherits: false;
}

@property --donation-pretty-gradient-color-2 {
  syntax: '<color>';
  initial-value: #000;
  inherits: false;
}
.donation-pretty {
  --donation-pretty-gradient-color-1: var(--color-secondary-alpha-60);
  --donation-pretty-gradient-color-2: var(--color-secondary-alpha-60);
  background: linear-gradient(
    to top right,
    var(--donation-pretty-gradient-color-1), var(--donation-pretty-gradient-color-2)
  ) !important;
  transition: --donation-pretty-gradient-color-1 250ms, --donation-pretty-gradient-color-2 0ms !important;
}
.donation-pretty:hover {
  --donation-pretty-gradient-color-1: var(--color-primary-light-2);
  --donation-pretty-gradient-color-2: var(--color-primary-light-1);
}
