<p><a target="_blank" rel="noopener noreferrer" href="{{AppUrl}}">{{AppName}}</a></p>

<p>
	---
	<br/>

	Codeberg e.V. &ndash; Arminiusstraße 2-4 &ndash; 10551 Berlin &ndash; Germany<br/>
	Registered at registration court Amtsgericht Charlottenburg VR36929.
</p>
