/* Basic styles for Codeberg */
@import "theme-gitea-light.css";
@import "codeberg/base-brand.css";

:root {
  --color-link: #0651ba;
}

a, a:hover {
  color: var(--color-link);
}

footer, .codeberg {
	--color-text-light-2: #73CCC6;
	* a:hover {
		color: var(--color-text-light-2) !important;
	}
}
